<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImageClassificator.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ImageClassificator.AppSettings>
            <setting name="InputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ProcessingPath" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="TagLanguage" serializeAs="String">
                <value>Deutsch</value>
            </setting>
            <setting name="PythonPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MobileNetPath" serializeAs="String">
                <value />
            </setting>
        </ImageClassificator.AppSettings>
    </userSettings>
</configuration>